html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Roboto";
}

body.theme.lightgray {
  background-color: lightgray;
}
body.theme.white {
  background-color: white;
}

.header-container {
  width: 75%;
  margin: 0 auto;
}
.header-container .cover-image {
  background-image: url(../images/cover_2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 350px;
  border-radius: 15px;
  position: relative;
}
.header-container .cover-image .profile-image {
  background-image: url(../images/profile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  width: 150px;
  border: 5px solid white;
  position: absolute;
  bottom: -23px;
  left: calc(50% - 150px/2);
  border-radius: 50%;
}
.header-container .username-text {
  padding-top: 20px;
  font-family: inherit;
}
.header-container .username-text span {
  font-weight: normal;
  font-family: inherit;
}
.header-container .bio-text {
  color: #009fff;
  font-weight: bold;
  font-family: inherit;
}

.gray-button {
  background: #e8e8e8;
  padding: 10px;
  width: initial;
  outline: none;
  border: none;
  border-radius: 5px;
  position: absolute;
  right: 15px;
  bottom: 10px;
  cursor: pointer;
  font-family: inherit;
}

.button {
  background: #e8e8e8;
  padding: 10px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-family: inherit;
}

.gray-button:hover, .button:hover {
  background: #b5b5b5;
}

.text-center {
  text-align: center;
}

.pull-right-contain {
  float: right;
  margin-right: 5px;
}

.ruler {
  border: 1px solid lightgrey;
}

.top-navigation {
  position: relative;
  z-index: 2;
}
.top-navigation .brand-logo {
  height: 64px;
  left: 20px;
}
.top-navigation .brand-logo .logo {
  background: url(../images/fb_logo.png);
  width: 50px;
  height: 64px;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}
.top-navigation .input-field {
  margin-left: 80px;
}
.top-navigation .input-field .prefix {
  top: 0;
}
.top-navigation .search-container .search-list {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 64px;
  height: 64px;
}
.top-navigation .search-container .search-field {
  display: flex;
}
.top-navigation .search-container .search-field input {
  border-radius: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #efefef;
  color: #555555;
  outline: none;
  font-size: 16px;
}
.top-navigation .search-container .search-field input::-webkit-input-placeholder {
  color: #929292;
}
.top-navigation .search-container .search-field input:-moz-placeholder {
  color: #929292;
}
.top-navigation .search-container .search-field input::-moz-placeholder {
  color: #929292;
}
.top-navigation .search-container .search-field input::-ms-placeholder {
  color: #929292;
}
.top-navigation .search-container .search-field input::placeholder {
  color: #929292;
}
.top-navigation nav {
  background-color: white;
}
.top-navigation .material-icons {
  color: gray;
}
.top-navigation .btn {
  box-shadow: none !important;
  margin: 0 8px;
}

.mg-minus-10 {
  margin-top: -10px;
}
.mg-minus-20 {
  margin-top: -20px;
}

.tabs .indicator {
  background-color: #448aff;
}
.tabs .tab a {
  color: gray;
  text-transform: none;
}
.tabs .tab a:hover {
  font-weight: 500;
  color: gray;
  background-color: #e9e9e9;
  border-radius: 10px;
}
.tabs .tab a.active {
  font-weight: 500;
  color: #448aff;
}
.tabs .tab a.active:hover, .tabs .tab a.active:active, .tabs .tab a.active:focus {
  color: #448aff;
  border-radius: none;
  background-color: transparent;
}

.min-h-200 {
  min-height: 200px;
}

.no-margin {
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */
